page-home {

}

ion-footer {
      background: #131b3a;
}

// borrowed CSS
input#message {
    background:none;
    border:none;
    // border-bottom: 1px solid #4C4C4C;
    outline:none;
    box-shadow:none;
    color: #fff;
    font-size:1.6em;
    font-weight:300;
    margin-bottom: 0em;
    padding:1.2em 0;
    padding-left: 30px;
    width: 75%;
    float: left;

}

footer button ion-icon {
  // font-size: 40px;
}

.chat-container {
    display:block;
    width:100%;
    background: linear-gradient(to bottom, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 31%, rgba(182,141,76,1) 77%, rgba(233,212,179,1) 100%);
}
// .chat-container:nth-child(4) {
//     opacity: .8;
// }
// .chat-container:nth-child(3) {
//     opacity: .6;
// }
// .chat-container:nth-child(2) {
//     opacity: .4;
// }

.chat-container ion-card:last-child {
  margin-bottom: 20px;
}

.chat-container .name {
    text-transform: uppercase;
    font-weight:bold;
    color:#816A98;
    font-size:.8em;
    letter-spacing:2px;
}

.chat-container p {
      // background:#323035;
    padding:1.1em;
    color:white;
    margin: 5px 0 10px 0;
}
.login-logo {
  margin: 60px auto;
  max-width: 60%;
}
.transparent-bg {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0);
}
