<ion-header>
  <ion-navbar>
    <ion-title>
      Ata Bilişim Chat
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!name" padding >
  The world is ours....
  Log In To view messages

</ion-content>
<ion-content *ngIf="name" padding >

  <ion-list padding>
    <ion-item *ngFor="let item of items  | async">
      <ion-label><ion-icon name="chatbubbles"></ion-icon> {{item.name}}</ion-label>
      <p>{{item.message}}</p>

    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>

    <button *ngIf="!name" (click)="login()">Login Lutfen!!</button>

    <input *ngIf="name" type="text" [(ngModel)]="chatBox" placeholder="Work Hard, Play Hard!!">
    <!-- <ion-label *ngIf="name" fixed>Work Hard, Play Hard!!</ion-label>
    <ion-input *ngIf="name" type="text" [(ngModel)]="chatBox" value=""></ion-input> -->
    <button ion-button (click)="chatSend(chatBox)">
      <ion-icon *ngIf="name" name="finger-print"></ion-icon>
    </button>
    <ion-content *ngIf="!name" padding >
      The world is ours....
      Log In To view messages

    </ion-content>


</ion-footer>
