<ion-header>
  <ion-navbar >
    <ion-title class="title">
      ATA BİlİŞİM Sohbet
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="chat-container" *ngIf="!name" padding >
  <ion-card class="transparent-bg">

  <ion-card-header text-center>
    <h3 class="slogan">Play Hard, Work Hard</h3>
    <hr>
  </ion-card-header>

  <ion-card-content text-center>
    <!-- Add card content here! -->

    <img class="login-logo" src="../assets/img/login-logo.png" alt="">

  </ion-card-content>

</ion-card>
<button ion-button block color="primary" *ngIf="!name" (click)="login()">Login Lutfen!!</button>
</ion-content>
<ion-content #scroll id="scroll" class="chat-container" *ngIf="name" padding >

  <!-- <ion-list padding>
    <ion-item *ngFor="let item of items  | async">
      <ion-label class="name"> {{item.name}}</ion-label>
      <p>{{item.message}}</p>

    </ion-item>
  </ion-list> -->

  <ion-card  class="scroll"  *ngFor="let item of items  | async" >

  <ion-card-header class="name">
    {{item.name}}
    <hr>
  </ion-card-header>

  <ion-card-content>
    <p>{{item.message}}</p>

  </ion-card-content>

</ion-card>
</ion-content>

<ion-footer>

    <input id="message" *ngIf="name" type="text" [(ngModel)]="chatBox" placeholder="Type Message">
    <button ion-button color="primary" *ngIf="name"  (click)="chatSend(chatBox)"><ion-icon name="send"></ion-icon></button>

</ion-footer>
